<h2>change this idea</h2>
<br>
<%= form_for @idea, method: :put do |f| %>
  <%# In this case, you don't need to define url: in the form_for, it will construct
  that automatically based on @idea %>
  <%= f.label :description %>
  <%= f.text_field :description %>
<br>
<%= f.select :category_id, {
  'inside' => 1,
  'outside' => 2,
  'food' => 3,
  'friends' => 4,
  'flashy' => 5,
  'crazy' => 6,
  'art' => 7
} %>
<%# Very close, but you want to put what is to be displayed first, then the value second
for each option in the select %>
<br>
  <%= f.submit "idea it" %>
<% end %>

<%= form_for @idea, method: :delete do |f| %>
  <% f.submit "get rid of it", class: "btn-delete" %>
<% end %>
