<h2>lightbulb!</h2>

<%= form_for @idea do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
<br>
<br>
<%# You would want to have this define the :category_id, not :category %>
<%= f.select :category_id, {
  'inside' => 1,
  'outside' => 2,
  'food' => 3,
  'friends' => 4,
  'flashy' => 5,
  'crazy' => 6,
  'art' => 7
} %>
<br>
<br>
  <%= f.submit "an idea is born" %>
<% end %>
